* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

ul {
	margin: 20px;
	padding-left:10%;
	padding-right:10%;
	li {
		position: relative;
		padding-top: 12px;
		padding-bottom: 12px;
		list-style-type: none;
		font-size: 18px;
		border-bottom:1px solid rgb(83, 80, 76);
	}
}

.tehtud {
	cursor: pointer;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
	border-radius: 50%;
	&:hover {
		color: rgb(132, 185, 132);
	}
}

.header {
	background-image: url("https://wallpaperaccess.com/full/1155039.png");
	padding: 30px 40px;
	color: rgba(255, 255, 255, 0.897);
	text-align: center;
	h1 {
		font-weight: bold;
		font-size: 60px;
	}
	h3 {
		font-weight: 200;
		font-style: italic;
		opacity: 60%;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


input {	
	border: none;
	border-radius: 0;
	width: 50%;
	padding: 10px;
	margin-left: 20%;
	float: left;
	font-size: 16px;
}

.lisaNupp {
	padding: 9px;
	width: 10%;
	background: rgba(255, 255, 255, 0.432);
	color: #555;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 0;
	&:hover {
		background-color: rgba(255, 255, 255, 0.678);
	}
}
